KAFKA_PRODUCE_EVENTS=True
KAFKA_CONSUME_EVENTS=True
KAFKA_EVENTS_BROKER=kafka:9092
KAFKA_EVENTS_TOPIC=event_store
KAFKA_EVENTS_TOPIC_CONSUMER_GROUP=PROJECT-NAME
KAFKA_PRODUCER_SEND_RETRIES=0
KAFKA_AUTOCOMMIT_OFFSET=False
SERVICE_NAME=PROJECT-NAME

DATABASE_HOST=DATABASE-HOST
DATABASE_PORT=DATABASE-PORT
DATABASE_USER=DATABASE-USERNAME
DATABASE_PASSWORD=DATABASE-PASSWORD
DATABASE_NAME=DATABASE-NAME

